.header {
  font-size: 5rem;
  background-color: gray;
  color: #000;
  opacity: 0.8;
  width: 55rem;
  text-align: center;
  margin: 0 auto;
}

.btn{
  margin: 1rem;
  background-color: #000;
  color: #FFF;
}

.filter{
  margin: 1rem;
}

.filter-btn{
  float: right;
  background-color: #000;
  color: #FFF;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.add-note{
  margin-left: 7.5rem;
}