@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 10px;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8ff7f2e;
  background-image: url('https://wallpaperaccess.com/full/2728412.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
